{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock %}


{% block content_wrapper %}
    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="table-responsive">
                                <div style="display: flex; font-weight: bold;
                                     position: absolute; padding: 5px 15px;
                                     left: 250px; width: 500px; border: 2px solid black;
                                     justify-content: space-between">
                                    <span style="color: green; margin-right: 25px">Added</span>
                                    <span style="color: orange; margin-right: 25px">Modified</span>
                                    <span style="color: black; margin-right: 25px">No change</span>
                                    <span style="color: red; margin-right: 25px">Removed</span>
                                </div>
                                <table class="table table-striped" id="bucket_datatable">
                                    <thead>
                                    <tr>
                                        <th>Bucket Name</th>
                                        <th>Last 1 Day</th>
                                        <th>Last 7 Days</th>
                                        <th>Last 30 Days</th>
                                        <th>Last 90 Days</th>
                                        <th>Active</th>
                                        <th>Count of files</th>
                                        <th>Details</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#bucket_datatable').dataTable({
                "bServerSide": true,
                "ajax": "/ajax/bucket_list",
                "bProcessing": true,
                "bSortable": false,
                "bSearch": false,
                "ordering": false,
                "sDom": 'lrtip',
                "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                "iDisplayLength": 10,
                "aoColumnDefs": [
                    {
                        "mRender": function (data, type, row) {
                            return "<b>" + data + "</b>"
                        },
                        "aTargets": [0], "width": "20%"},
                    {"mRender": function (data, type, row) {
                            return "<b><span style='color: green'>" + row[2].added + '</span>  <span style=\'color: orange; margin-left:8px\'>' + row[2].modified + '</span> <span style=\'margin-left:8px\'>' + row[2].no_change + '</span> <span style=\'color: red; margin-left:8px\'>' + row[2].removed + "</span></b>"
                        },
                        "aTargets": [1], "width": "15%"},
                    {"mRender": function (data, type, row) {
                            return "<b><span style='color: green'>" + row[3].added + '</span>  <span style=\'color: orange; margin-left:8px\'>' + row[3].modified + '</span>  <span style=\'margin-left:8px\'>' + row[3].no_change + '</span> <span style=\'color: red; margin-left:8px\'>' + row[3].removed + "</span></b>"
                        },
                        "aTargets": [2], "width": "15%"},
                    {"mRender": function (data, type, row) {
                            return "<b><span style='color: green'>" + row[4].added + '</span>  <span style=\'color: orange; margin-left:8px\'>' + row[4].modified + '</span>  <span style=\'margin-left:8px\'>' + row[4].no_change + '</span> <span style=\'color: red; margin-left:8px\'>' + row[4].removed + "</span></b>"
                        },
                        "aTargets": [3], "width": "15%"},
                    {"mRender": function (data, type, row) {
                            return "<b><span style='color: green'>" + row[5].added + '</span>  <span style=\'color: orange; margin-left:8px\'>' + row[5].modified + '</span>  <span style=\'margin-left:8px\'>' + row[5].no_change + '</span> <span style=\'color: red; margin-left:8px\'>' + row[5].removed + "</span></b>"
                        },
                        "aTargets": [4], "width": "15%"},
                    {
                        "mRender": function (data, type, row) {
                            if (data) {
                                row.status_filter = "<i style='color: green' class='fa fa-check-circle'></i>"
                            }
                            else {
                                row.status_filter = "<i style='color: red' class='fa fa-minus-circle'></i>"
                            }
                            return row.status_filter
                        },
                        "aTargets": [5], "width": "1%"},
                    {"aTargets": [6], "width": "12%"},
                    {
                        "mRender": function (data, type, row) {
                            return "<a href='/bucket_content/" + data + "'>Content</a>"
                        },
                        "aTargets": [7], "width": "10%"}
                ]
            })
        })
    </script>
{% endblock %}